Java/*/bin
Java/*/build
Java/*/build.xml
Java/*/manifest.mf
Java/*/nbproject/private/
Java/*/*.ser
Java/*/out
Java/*/.idea/
Java/*/.idea/
Java/*/.settings/
Java/*/*.iml
Java/.metadata
TrackList-PHP-MySQL/nbproject/private/
TrackList-PHP-MySQL/uploads/*
Tautof-Symfony/nbproject/private/
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
*~
*/Resources/public/uploads/*
