*~
Android/ToListenServer/bin
Android/ToListenServer/obj
Android/ToListenServer/packages
Android/portfolio/www/node_modules
Android/portfolio/platforms/*/
Android/portfolio/plugins/*/
Java/*/bin
Java/*/build
Java/*/build.xml
Java/*/manifest.mf
Java/*/nbproject/private/
Java/*/*.ser
Java/*/out
Java/*/.idea/
Java/*/.idea/
Java/*/.settings/
Java/*/*.iml
Java/.metadata
Java/.recommenders
PHP/TrackList-PHP-MySQL/nbproject/private/
PHP/TrackList-PHP-MySQL/uploads/*
PHP/Tautof-Symfony/app/*
PHP/Tautof-Symfony/bin/*
PHP/Tautof-Symfony/tests/*
PHP/Tautof-Symfony/var/*
PHP/Tautof-Symfony/web/*
PHP/Tautof-Symfony/nbproject/private/
PHP/Tautof-Symfony/app/config/parameters.yml
PHP/Tautof-Symfony/build/
PHP/Tautof-Symfony/phpunit.xml
PHP/Tautof-Symfony/vendor/
PHP/Tautof-Symfony/web/bundles/
!PHP/Tautof-Symfony/app/config/
!PHP/Tautof-Symfony/app/AppKernel.php
