[submodule "ECF/MediaTeK"]
	path = ECF/MediaTeK
	url = https://github.com/malahx/AFPA-MediaTeK.git
[submodule "Android/ToListen"]
	path = Android/ToListen
	url = https://github.com/Valannos/ToListen-Android.git
