{# header Twig template #}
<header>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h1><i class="fa fa-car" aria-hidden="true"></i></h1>
                </div>
                <div class="col-md-8 text-center">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </div>
    </div>
</header>