{# ajax.js Twig template #}
<script>

    var makeEl = document.getElementById('make_name');
    var modelEl = document.getElementById('advert_model');
    var advertsEl = document.getElementById('advertsFilter');
    var sortbyEl = document.getElementById('sortby');
    var orderbyEl = document.getElementById('orderby');

    makeEl.onchange = function () {
        var xhr = new XMLHttpRequest();
        var url = '{{ path('apiModels') }}' + ajaxVar();
        xhr.open("GET", url, true);
        xhr.onload = function (e) {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var models = JSON.parse(xhr.responseText);
                    modelEl.innerHTML = '<option value="-1" selected>Modèle</option>';
                    for (var model of models) {
                        var opt = document.createElement('option');
                        opt.value = model['id'];
                        opt.innerHTML = model['name'];
                        modelEl.appendChild(opt);
                    }
                } else {
                    console.error(xhr.statusText);
                }
            }
        };
        xhr.onerror = function (e) {
            console.error(xhr.statusText);
        };
        xhr.send(null);
        refresh();
    };

    modelEl.onchange = function () {
        var url = '{{ path('apiModel') }}' + ajaxVar();
        var xhr = new XMLHttpRequest();
        xhr.open("GET", url, true);
        xhr.onload = function (e) {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var model = JSON.parse(xhr.responseText);
                    if (!model) {
                        console.error(xhr.statusText);
                    }
                    var make_id = model['make_id'];
                    makes = makeEl.options;
                    for (make of makes) {
                        if (parseInt(make.value) === make_id) {
                            make.selected = true;
                            break;
                        }
                    }
                } else {
                    console.error(xhr.statusText);
                }
            }
        };
        xhr.onerror = function (e) {
            console.error(xhr.statusText);
        };
        xhr.send(null);
        refresh();
    };
    if (sortbyEl) {
        sortbyEl.onchange = function () {
            if (this.value !== "-1") {
                orderbyEl.disabled = false;
                if (orderbyEl.selectedIndex === 0) {
                    orderbyEl.selectedIndex = 1;
                }
            } else {
                orderbyEl.disabled = true;
                orderbyEl.selectedIndex = 0;
            }
            refresh();
        };
    }

    if (orderbyEl) {
        orderbyEl.onchange = function () {
            refresh();
        };
    }
    /*function ajaxVar(url, name, value) {
     return url.replace(name, value);
     }*/

    function ajaxVar() {
        var rtn = "?";
        if (makeEl.value > -1) {
            rtn += "make_id=" + makeEl.value;
        }
        if (modelEl.value > -1) {
            rtn = "&model_id=" + modelEl.value;
        }
        if (sortbyEl && sortbyEl.value > -1) {
            rtn += "&sortby=" + sortbyEl.value;
        }
        if (orderbyEl && orderbyEl.value !== "") {
            rtn += "&orderby=" + orderbyEl.value;
        }
        return rtn;
    }

    function refresh() {
        if (!advertsEl) {
            return;
        }
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "{{ path('apiAdverts') }}" + ajaxVar(), true);
        xhr.onload = function (e) {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var html = xhr.responseText;
                    advertsEl.innerHTML = html;
                } else {
                    console.error(xhr.statusText);
                }
            }
        };
        xhr.onerror = function (e) {
            console.error(xhr.statusText);
        };
        xhr.send(null);
    }
</script>