{# base Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        {% block stylesheets %}
            {% include 'TautofBundle:elements:styles.html.twig' %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>      
        {% block header %}
            {% include 'TautofBundle:elements:header.html.twig' %}
        {% endblock %}
        {% block navbar %}
            {% include 'TautofBundle:elements:navbar.html.twig' %}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
