{# advertFilter Twig template #}
{% extends 'TautofBundle:elements:base.html.twig' %}
{% block body %}
    <div class="container">
        <select id="makeFilter" class="form-control" name="makeFilter" placeholder="Marques">';
            {% if make_id == -1 %}
                <option value="" disabled selected>Marque</option>
            {% endif %}
            {% for make in makes %}
                <option value="{{ make.id }}" {% if make_id == make.id %}selected{% endif %}>{{ make.name }}</option>  
            {% endfor %}
        </select>
    </div>
    <br><br>
    {% include 'TautofBundle:elements:advertList.html.twig' %}
{% endblock %}
{% block javascripts %}
    <script>
        var make = document.getElementById('makeFilter');
        make.onchange = function() {
            location.href="/advertfilter?make_id=" + this.value;
        };
    </script>
{% endblock %}